* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background-color: rgba(111, 111, 241, 0.526);
    border: 10px solid rgba(0, 0, 255, 0.526);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro > p {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    font-style: italic;
}